.full-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    -webkit-width: 100vw;
    -webkit-height: 100vh;
    background: yellow url('https://previews.123rf.com/images/karandaev/karandaev1505/karandaev150500138/39482534-Citrus-fruits-in-basket-Oranges-limes-and-lemons-Over-white-wood-table-background-with-copy-space-Stock-Photo.jpg') no-repeat center;
    background-size: cover;
}