<!--materliazeß-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center-align">Logo</a>
      <!--<ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/signinnav">Sign In</a></li>
      </ul>-->
    </div>
    <div class="plus-icon">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div>
          <i class="fa fa-plus plus-icon-nav" aria-hidden="true"></i>
    </div>
  </nav>