@import "./src/variablestyle.scss";
.dashboard-container{
    padding:1em;
}
.provision-cards{
    margin-top:30px;
    &:nth-child(1){
        margin-top:0;
    }
    .container-title{
        width:100%;
        height:35px;
        display:block;
        .title-name{
            float:left;
            width:130px;
            font-size: 1.3em;
        }
    }
    .container-view-all{
        .view-all{
            width:70px;
            text-align:center;
            float:right;
            margin-right:3px;
            a{color:pink;}
        }
    }
    .card-list-view{
        border: solid 1px lightgray;
        ul{
            margin:0;
            li{
                padding: .5em;
                border-bottom: solid 1px lightgray;
                &:nth-last-child(1){
                    border-bottom:none;
                }
            }
        }
    }
}//include in all cards

.inroute-container{
    .card-list-view{
        border: solid 2px blue;
        ul{
            margin:0;
            li{

            }
        }
    }
}//inroute-container
.available-container{
    .card-list-view{
        border: solid 2px blue;
        ul{
            margin:0;
            li{
                
            }
        }
    }
}//available-container
.pending-container{
    .card-list-view{
        border: solid 2px yellow;
        ul{
            margin:0;
            li{
                
            }
        }
    }
}//pending-container
.completed-container{
    .card-list-view{
        border: solid 2px gray;
        ul{
            margin:0;
            li{
                
            }
        }
    }
}//completed-container
.available-offers-container{
    .available-title{
        font-weight:bold;
    }
    .right-details{
        p{
            margin:0;
        }
    }
    ul{
        li{
            border: pink solid 1px;
        }
    }
}
