<app-topnav></app-topnav>
<app-sidenav></app-sidenav> 
<div class="dashboard-container">
    <div class="inroute-container provision-cards">
        <div class="container-title">
            <p class="title-name">In Transport</p>
        </div>
        <div class="card-list-view">
            <ul>
                <li class="row">
                    <div class="col s5">
                        Left
                    </div>
                    <div class="col s2">
                        Icon
                    </div>
                    <div class="col s5">
                        Right
                    </div>
                </li>
            </ul>
        </div>
    </div><!--inroute-container-->
    
        <div class="pending-container provision-cards">
        <div class="container-title">
            <p class="title-name">Interim</p>
        </div>
        <div class="card-list-view">
            <ul>
                <li class="row">
                    <div class="col s5">
                        Left
                    </div>
                    <div class="col s2">
                        Icon
                    </div>
                    <div class="col s5">
                        Right
                    </div>
                </li>
            </ul>
        </div>
    </div><!--pending-container-->
    <div class="available-container provision-cards">
        <div class="container-title container-view-all">
            <p class="title-name">Available</p>
            <p class="view-all" id="view-all"><a href="#modal1">View All</a></p>
        </div>
        <div class="card-list-view">
            <ul>
                <li>one</li>
                <li>two</li>
                <li>tree</li>
            </ul>
        </div>
    </div><!--inroute-container-->

    <div class="completed-container provision-cards">
        <div class="container-title container-view-all">
            <p class="title-name">Completed</p>
            <p class="view-all" id="view-all"><a href="#modal1">View All</a></p>
        </div>
        <div class="card-list-view">
            <ul>
                <li class="row">
                    <div class="col s5">
                        Left
                    </div>
                    <div class="col s2">
                        Icon
                    </div>
                    <div class="col s5">
                        Right
                    </div>
                </li>
            </ul>
        </div>
    </div><!--completed-container-->
</div><!--dashboard-container/ padding-->

<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
  <!--issa pop up modal-->

    <div class="available-offers-container provision-cards">
        <div class="container-title container-view-all">
            <p class="available-title">Available</p>
        </div>
        <div class="">
            <ul>
                <li class="row">
                    <div class="offer-title col s8">600 boxes of gluten free</div>
                    <div class="right-details col s4">
                        <p class="exp-date">Exp. 1/10/17</p>
                        <div class="row">
                            <p class="delivery-status col s6">Trans</p>
                            <p class="food-type col s6">Fresh</p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div><!--available-offers-->


    <div class="offer-detail">
        <p>8 gallons of milk</p>
        <div class="offer-collection">
            <p class="food-type">Fresh</p>
            <p class="exp-date">Exp. 7/7/17</p>
            <p class="offer-msg">we have milk that will be expiring next week. please give us a call directly and we van coordinate a time to pick up.</p>
        </div>
        <div class="contact-info">
            <p>contact & pickup info</p>
            <ul>
                <li>John Smith</li>
                <li>c: 555-555-5555</li>
                <li>e: jcmith@northeshorepantry.com</li>
                <li>Northshore Pantry</li>
                <li>3945 N Sheridan Rd. Chicago, Il 60613</li>
                <li>Hours</li>
                <li>M 12-4pm</li>
                <li>W 12-4pm</li>
                <li>F 12-4pm</li>
                <li>Pick Up Timeframe</li>
                <li>Monday(7/12)</li>
                <li>Wednesdat(7/14)(7/12)</li>
            </ul>
        </div>
    </div>
