@import "./src/_variables.scss";  
@import "./src/_mixins.scss";
// variables
    // font
    $mont: 'Montserrat', sans-serif;
    $open: 'Open Sans', sans-serif;
    $fontexample: Helvetica, sans-serif;
    //colors
    $example:darkblue;
    $nasty-green:#84a43d;

//mixins
@mixin parentTextStyle{
    color: $example;
    font-size: 3em;
}//@include parentTextStyle;
@mixin boxStyle{
    border: solid $example 1px;
    padding: 1em;
    border-radius: 12px;
}

